pypdf

# Core
flask
python-dotenv

# LangChain ecosystem
langchain
langchain-core
langchain-pinecone
langchain-groq
langchain-community

# Pinecone
pinecone-client

# HuggingFace Embeddings
sentence-transformers

# Utilities
tqdm
requests